.letraCuenta{
	-fx-font-family:"Poiret One";
	-fx-font-size: 20px;
	-fx-text-fill:white;
}
.letraM{
	-fx-background-color: #fff;
	-fx-background-radius:50px;
	-fx-text-fill:#FF4081;
	-fx-font-size: 50px;

}
.botones{
	-fx-text-fill:#795548;
	-fx-background-color: #fff;
	-fx-background-radius:10px;
}
.botonesSin{
	-fx-text-fill:white;
	-fx-border-color: #fff;
	-fx-border-radius:10px;
}
.botonEmpezar{
	-fx-border-radius:10px;
	-fx-text-fill:#795548;
	-fx-border-color:#795548;
}
.imagen:hover {
	-fx-opacity:0.5;
}
